@import '_variables';

body {
	padding: 0px;
	margin: 0px;
	height: 100vh;
	z-index: 0;
	@include backgroundimg;
}
.App {
	text-align: center;
	position: fixed;
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: space-around;
	flex-flow: column nowrap;
	overflow: hidden;
}
#overlay {
	bottom: 0;
	left: 0;
	height: 100vh;
	background-color: #b5dfd6;
	overflow: hidden;
	z-index: 0;
	opacity: 0.5;
}

.dash-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	height: 50%;
	padding: 20px;
}
.bottom {
	height: 35%;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $tertiaryCol;
	border-radius: 40px;
	border-right: $navCol solid 1px;
	box-shadow: inset -3px 0px 6px -2px $navCol;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $primaryCol;
	border-radius: 40px;
	box-shadow: inset -6px 0px 10px 0px #499fa4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	// background: $secondaryCol;
	box-shadow: inset -6px 0px 12px 3px $secondaryCol;
}

// .App-logo {
// 	animation: App-logo-spin infinite 20s linear;
// 	height: 40vmin;
// 	pointer-events: none;
// }

// .App-header {
// 	background-color: #282c34;
// 	min-height: 100vh;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	font-size: calc(10px + 2vmin);
// 	color: white;
// }

// .App-link {
// 	color: #61dafb;
// }

// @keyframes App-logo-spin {
// 	from {
// 		transform: rotate(0deg);
// 	}
// 	to {
// 		transform: rotate(360deg);
// 	}
// }
