@import '_variables';

.libraryContainer-dashboard {
	top: 50px;
	display: flex;
	position: relative;
	height: 42vh;
	flex: 2;
	margin-right: 20px;
	box-sizing: content-box;
	overflow: hidden;
	@include dash-container;
	z-index: 0;
	.carousel {
		align-content: center;
		position: relative;
		padding: 20px;
		z-index: 2;
		overflow: hidden;
	}
	.overlay {
		opacity: 0.4;
		position: absolute;
		z-index: 0;
		background-color: $tertiaryCol;
		height: 100%;
		width: 100%;
	}
}
.library-page {
	position: relative;
	height: 50vh;
	list-style: none;
	@include page-container;
}
