@import '_variables';

.libraryContainer-dashboard {
	background-color: $primaryCol;
	top: 50px;
	position: relative;
	flex: 2;
	padding: 20px;
	margin-right: 20px;
	@include dash-container;
}
.library-page {
	top: 70px;
	position: relative;
	height: 50vh;
	list-style: none;
	@include page-container;
	@include backgroundimg;
}
