@import '_variables';

.dropZone {
	background-color: $tertiaryCol;
	position: relative;
	flex: 1;
	padding: 20px;
	margin-right: 20px;
	@include dash-container;
}

#dropcontainer {
	background-color: $tertiaryCol;
	@include dash-container;
	// @include page-container;
	position: relative;
	
}
