@import '_variables';

.dropZone {
	flex: 1;
	overflow: hidden;
	margin-right: 20px;
	display: flex;
	opacity: 1;
	position: relative;
	@include dash-container;
}
.container {
	height: 100%;
	width: 100%;
	position: relative;
	padding: 20px;
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.overlay {
	@include overlaySetting;
}
#dropcontainer {
	background-color: $tertiaryCol;
	@include dash-container;
	position: relative;
}
.upload {
	text-align: start;
	margin-left: 20%;
	input {
		border-radius: 8px;
	}
}
