@import '_variables';

.dropZone {
	flex: 1;
	overflow: hidden;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	position: relative;
	@include dash-container;
}
.container {
	height: 100%;
	width: 100%;
	position: relative;
	padding: 20px;
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.overlay {
	@include overlaySetting;
}
#dropcontainer {
	background-color: $tertiaryCol;
	@include dash-container;
	// @include page-container;
	position: relative;
}
