@import '_variables';

.flashcardContainer {
	background-color: $secondaryCol;
	flex: 1;
	top: 50px;
	position: relative;
	padding: 20px;
	margin-left: 20px;
	@include dash-container;
}

.flashcard-game {
	@include page-container;
	
}
