.flashcardContainer {
  background: radial-gradient(ellipse at center, rgba(147, 206, 222, 0.38) 0%, rgba(143, 204, 219, 0.38) 37%, #499fa4 100%);
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
  padding: 20px;
  margin-left: 20px;
  letter-spacing: 2.5px;
  border: #13292a solid 1px;
  border-radius: 12px;
  -webkit-box-shadow: 14px 12px 19px -7px rgba(118, 98, 152, 0.51);
          box-shadow: 14px 12px 19px -7px rgba(118, 98, 152, 0.51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flashcardContainer:hover {
  background-color: #499fa487;
}

.flashcard-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  height: 100vh;
}

.game-container {
  border: #13292a solid 1px;
  border-radius: 12px;
  -webkit-box-shadow: 14px 12px 19px -7px rgba(118, 98, 152, 0.51);
          box-shadow: 14px 12px 19px -7px rgba(118, 98, 152, 0.51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  width: 53vw;
  overflow: hidden;
  z-index: 4;
  position: relative;
  text-align: center;
  background: #499fa487;
  top: -25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content h1 {
  font-family: cursive;
  text-decoration: underline;
  font-weight: bold;
}

.content h2 {
  text-transform: capitalize;
}

.overlay {
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  background-color: #91cabe;
  height: 100%;
  width: 100%;
}

.tab-list {
  font-size: 1.5em;
  padding-left: 0;
  margin-right: 20px;
}

.tabs {
  position: absolute;
  top: 70px;
  width: 100vw;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  background-color: #499fa4;
  border-radius: 12px 12px 0 0;
}

.tab-list-active {
  background-color: #b5dfd6;
  border: solid #13292a 1px;
  border-radius: 12px 12px 0 0;
  border-width: 1px 1px 0 1px;
  -webkit-box-shadow: 0px -5px 14px 2px rgba(118, 98, 152, 0.51);
          box-shadow: 0px -5px 14px 2px rgba(118, 98, 152, 0.51);
}

.tab-content {
  width: 100vw;
  -ms-flex-line-pack: center;
      align-content: center;
}

.answer-btns {
  position: relative;
  display: inline;
  top: 30px;
  padding: 20px;
}

#answer-btn {
  border-radius: 12px;
  padding: 12px;
  background-color: #91cabe;
  border: #13292a solid 1.3px;
  -webkit-box-shadow: 14px 12px 19px -7px rgba(118, 98, 152, 0.51);
          box-shadow: 14px 12px 19px -7px rgba(118, 98, 152, 0.51);
}

#answer-btn:hover {
  font-weight: bold;
  background-color: #b5dfd6;
}

#hard {
  background-color: #b81f14;
  border-radius: 12px;
  padding: 12px 6px;
  width: 90px;
  margin-right: 5px;
}

#medium {
  background-color: #bdbd10;
  border-radius: 12px;
  padding: 12px 8px;
  width: 90px;
  margin-right: 5px;
}

#easy {
  background-color: #1e961e;
  border-radius: 12px;
  padding: 12px 6px;
  width: 90px;
}

#easy:hover,
#medium:hover,
#hard:hover {
  -webkit-box-shadow: -1px 2px 20px 6px #b5dfd6;
          box-shadow: -1px 2px 20px 6px #b5dfd6;
  border: none;
  font-weight: bold;
}
/*# sourceMappingURL=flashcard.css.map */