@import '_variables';

.flashcardContainer {
	background-color: $primaryCol;
	flex: 1;
	top: 50px;
	position: relative;
	padding: 20px;
	margin-left: 20px;
	@include dash-container;
}

.flashcard-game {
	align-items: center;
	position: relative;
	top: 70px;
}
