@import '_variables';

.flashcardContainer {
	// background-color: $secondaryCol;
	background: radial-gradient(
		ellipse at center,
		rgba(147, 206, 222, 0.38) 0%,
		rgba(143, 204, 219, 0.38) 37%,
		rgba(73, 159, 164, 1) 100%
	);
	flex: 2;
	position: relative;
	padding: 20px;
	margin-left: 20px;
	letter-spacing: 2.5px;
	@include dash-container;
}
.flashcardContainer:hover {
	background-color: #499fa487;
}

.flashcard-game {
	display: flex;
	position: relative;
	justify-content: center;

	z-index: 3;
	height: 100vh;
}
.game-container {
	@include dash-container;
	height: 50vh;
	width: 50vw;
	overflow: hidden;
	z-index: 4;
	position: relative;
	text-align: center;
	background: #499fa487;
	top: 0;
	flex-direction: column;
}
.content {
	display: flex;
	flex-direction: column;
	h1 {
		font-family: cursive;
		text-decoration: underline;
		font-weight: bold;
	}
}
.overlay {
	@include overlaySetting;
}

.tab-list {
	font-size: 1.5em;
	background-clip: $secondaryCol;
	padding-left: 0;
	border-bottom: 1px solid $navCol;
}
.tabs {
	position: absolute;
	top: 70px;
	width: 100vw;
}
.tab-list-item {
	display: inline-block;
	list-style: none;
	margin-bottom: -1px;
	padding: 0.5rem 0.75rem;
	background-color: $secondaryCol;
	border-radius: 12px 12px 0 0;
	border-bottom: $navCol solid 1px;
}
.tab-list-active {
	background-color: $primaryCol;
	border: solid $navCol 1px;
	border-radius: 12px 12px 0 0;
	border-width: 1px 1px 0 1px;
	border-bottom: none;
}
.tab-content {
	width: 100vw;
	align-content: center;
}
.answer-btns {
	position: relative;
	display: inline;
	top: 30px;
	padding: 20px;
}
#answer-btn {
	border-radius: 12px;
	padding: 12px;
}
#hard {
	background-color: #b81f14;
	border-radius: 12px;
	padding: 12px 6px;
	width: 88px;
	margin-right: 5px;
}
#medium {
	background-color: #bdbd10;
	border-radius: 12px;
	padding: 12px 8px;
	width: 88px;
	margin-right: 5px;
}
#easy {
	background-color: #1e961e;
	border-radius: 12px;
	padding: 12px 6px;
	width: 88px;
	// border: $navCol solid 1.3px;
}

#easy:hover,
#medium:hover,
#hard:hover {
	box-shadow: -1px 2px 20px 6px #b5dfd6;
	border: none;
	font-weight: bold;
}
