@import '_variables';

nav {
	background-color: $navCol;
	color: $primaryCol;
	position: fixed;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 0;
	left: 0;
}

.nav-left {
	justify-self: flex-start;
	padding: 0 20px;
	align-self: center;
	/* font-family: 'Italianno', cursive; */
	/* font-family: 'Niconne', cursive; */
	font-family: 'Qwigley', cursive;
}
.nav-right {
	justify-self: flex-end;
	padding: 0 20px;
	align-self: center;
}
