@import '_variables';

body {
  overflow-x:hidden;
}

.chapter-div {
  white-space: pre-line;
  overflow: auto;
  margin: 90px auto 10px;
  width: 60%;
  background-color: rgb(255, 255, 255, 0.65);
  border-radius: 12px;
  border: #13292a solid 2px;
  align-items: center;
  text-align: center;
  position: relative;

}

.loading-div {
  font-size: 48px;
  margin: auto;
  white-space: pre-line;
  overflow: auto;
  margin: 90px auto 10px;
  width: 60%;
  height: 40%;
  background-color: rgb(255, 255, 255, 0.65);
  border-radius: 12px;
  border: #13292a solid 2px;
  align-items: center;
  text-align: center;
}

.reading-space {

  text-align: left;
  width : 65%;
  margin: 10px auto;
  margin-bottom: 2em;
}

.translated-pair {
  padding: 0 4px;
  display: inline-block;
}

.untranslated-word {
  text-align: center;
  color: white;
  background-color: rgb(112, 50, 47, 0.75);
  padding: 0 3px 2px;
  border-radius: 4px;
}

.translated-word {
  font-style: italic;
  font-weight: bold;
  color: #3b7b7d;
  text-align: center;
}

body {
  overflow: auto
}

/* .prev-next {
  position: relative;
	padding: 21px;
	border: none;
	overflow: hidden;
	outline: 0;
	font-size: 0;
	line-height: 0;
}

.prev-next span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	border-style: solid;
	border-color: #fff;
	border-width: 3px 3px 0 0;
	padding: 5px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	font-size: 0;
} */

.button-box {
  display: flex;
  position: absolute;
  font-size: 4rem;

}

.prev-next-leftarrow {
 background-color: red;
 transform:  translateY(-50%);
 position: fixed;
 top: calc(50% + 35px);
 border-radius: 0 25px 25px 0;
 height: 30%;
 width: 4%;

}

.prev-next-rightarrow {
  background-color: $secondaryCol;
  transform:  translateY(-50%);
  position: fixed;
  top: calc(50% + 35px);
  right: 20%;
  border-radius: 25px 0 0 25px;
  height: 30%;
  width: 4%;
}