@import '_variables';

.wordlistContainer-dashboard {
	display: flex;
	position: relative;
	flex: 1;
	margin-left: 20px;
	@include dash-container;
	top: 45px;
	font-family: 'Alice';
	height: 47vh;
	overflow: hidden;

	.content-container {
		padding: 20px;
		opacity: 1;
		z-index: 2;
		height: 95%;
		width: 100%;
		position: relative;
		overflow: auto;
		h1 {
			text-align: center;
		}
		p {
			text-align: start;
		}
	}
	.overlay {
		top: 0;
		opacity: 0.5;
		position: absolute;
		z-index: 0;
		background-color: $tertiaryCol;
		height: 100%;
		width: 100%;
		@include dash-container;
	}
}
.wordllist-page {
	position: relative;
	height: 50vh;
	top: 0;
	@include page-container;
	.contentContainer {
		position: relative;
		background-color: #91cabe85;
		@include dash-container;
		z-index: 4;
		height: 80vh;
		width: 50vw;
		overflow: hidden;
		padding: 0 20px;
		align-items: stretch;
	}
	.word {
		table-layout: fixed;
		position: relative;
		top: 20px;
		opacity: 1;
		z-index: 2;
		overflow: auto;
		width: 100%;
		border-collapse: collapse;
		thead {
			border-bottom: 1px $secondaryCol double;
			font-size: 1.5rem;
		}
		tr {
			border-bottom: $secondaryCol solid 1px;
			text-align: center;
		}
		tr:hover {
			background-color: $primaryCol;
		}
	}
}

button.btn_del {
	padding: 10px;
	background: $secondaryCol;
	color: $navCol;
	border: $secondaryCol solid 1px;
	border-radius: 12px;
	box-shadow: $shadow;
	font-size: 1rem;
}
.btn_del:hover {
	border: $secondaryCol solid 1.5px;
	background-color: rgba(143, 204, 219, 0.44);
}
