@import '_variables';

.wordlistContainer-dashboard {
	display: flex;
	position: relative;
	flex: 1;
	margin-left: 20px;
	@include dash-container;
	top: 35px;
	font-family: 'Alice';
	height: 42vh;
	overflow: hidden;

	.content-container {
		padding: 20px;
		opacity: 1;
		z-index: 2;
		height: 95%;
		width: 100%;
		position: relative;
		overflow: auto;
		h1 {
			text-align: center;
		}
		p {
			text-align: start;
		}
	}
	.overlay {
		opacity: 0.7;
		position: absolute;
		z-index: 0;
		background-color: $tertiaryCol;
		height: 100%;
		width: 100%;
		@include dash-container;
	}
}
.wordllist-page {
	position: relative;
	height: 50vh;
	@include page-container;
	.content-container {
		position: relative;
		z-index: 4;
		height: 80vh;
		width: 80vw;
		@include dash-container;
		overflow: hidden;
	}
	.content {
		position: relative;
		padding: 20px;
		opacity: 1;
		z-index: 2;
		// height: 95%;
		// width: 100%;
		position: relative;
		overflow: auto;
	}
}
